/* General styles for body */
.pacman-container {
  background-color:transparent;
  z-index: 10;
  text-align: center;
}

/* Pacman styling */
.pacman {
  margin: 40px auto;
}

.pacman-top {
  background-color: yellow;
  height: 50px;
  width: 100px;
  border-radius: 100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom {
  background-color: yellow;
  height: 50px;
  width: 100px;
  border-radius: 0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
  margin-top: -185px;
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  box-shadow: 
    200px 65px 0 0 white, 
    400px 65px 0 0 white, 
    600px 65px 0 0 white, 
    800px 65px 0 0 white,
    1000px 65px 0 0 white;
}

/* Ghost image container */
.ghost-container {
  position: absolute;
  top: 60px; /* Adjust according to your needs */
  left: 1200px; /* Place the ghost at the end */
  width: 100px;
  height: 100px;
  background-image: url('/static/Group.png'); /* Replace with your ghost image URL */
 
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the image */

}

/* Pacman animations */
@keyframes spin1 {
  0%  {transform: rotate(0deg);}
  50% {transform: rotate(-35deg);}
}

@keyframes spin2 {
  0%  {transform: rotate(0deg);}
  50% {transform: rotate(35deg);}  
}

/* Optional: Ghost movement animation */
@keyframes moveGhost {
  0% { transform: translateX(0); }
  100% { transform: translateX(100px); }
}
