<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-0.css') }}">
    <script src="{{ url_for('static', filename='fullscreen.js') }}"></script>
    <script src="{{ url_for('static', filename='page_handler.js') }}"></script>
</head>
<body data-gpio-enabled="true">

    <div class="container">
        <img src="{{ url_for('static', filename='bg-0.png') }}" class="background">
    
        <div class="button-container">
            <!-- Add data-gpio="left" to enable GPIO support -->
            <button class="start-button" data-gpio="left">
                <img src="{{ url_for('static', filename='newgame.png') }}" alt="Start Button">
            </button>


            <!-- Add data-gpio="right" to enable GPIO support -->
            <button class="finish-button" data-gpio="right">
                <img src="{{ url_for('static', filename='finish.png') }}" alt="Finish Button">
            </button>
        </div>
    </div>

</body>
</html>
