<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-0.css') }}">
    <script src="{{ url_for('static', filename='fullscreen.js') }}"></script>
</head>
<body>

    <div class="container">
        <img src="{{ url_for('static', filename='group01.png') }}" class="background">
    
        
    </div>

</body>
</html>
