<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Button</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='b-style.css') }}">
    <script src="{{ url_for('static', filename='page_handler.js') }}"></script>
</head>
<body data-gpio-enabled="true">
    <div class="container">
        <img src="{{ url_for('static', filename='Bg-Welcome-Home.png') }}" class="background">
    
        <div class="button-container">
            <button class="start-button" data-gpio="right">
                <img src="{{ url_for('static', filename='start-normal.png') }}" alt="Start Button">
            </button>
        </div>
    </div>
</body>
</html>